.modalMap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.map-container {
  height: 800px;
  width: 100vh;
}

.mapView {
  margin: auto;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.marker {
  background-image: url("https://cdn-icons-png.flaticon.com/512/3754/3754313.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: solid 3px darkslategray;
  position: absolute;
}

.marker-delivery {
  background: red;
  width: 22px;
  height: 22px;
}


.marker-destinations{
  background-image: url("https://www.iconpacks.net/icons/2/free-store-icon-2017-thumb.png");
  border-radius: 11px;
  border: solid 3px blue;
  background-size: cover;
  width: 25px;
  height: 25px;
}